<nav class="navbar is-white" role="navigation" aria-label="main navigation">
    <!-- Logo + Burger menu -->
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/home">
        <img src="assets/Images/weiyu_logo.png" alt="Logo">
      </a>
  
      <!-- Burger button -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <!-- Dropdown content -->
    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/home">Home</a>
        <a class="navbar-item" routerLink="/portfolio">Portfolio</a>
        <a class="navbar-item" routerLink="/resume">Resume</a>
        <a class="navbar-item" routerLink="/contact">Contact</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-link" href="https://linkedin.com/in/wei-yu-chang" target="_blank">
              <span class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></span>
              <span>Linkedin</span>
            </a>
            <a class="button is-dark" href="https://github.com/RickMaguro" target="_blank">
              <span class="icon"><fa-icon [icon]="faGithub"></fa-icon></span>
              <span>Github</span>
            </a>
            <a class="button is-info" href="https://bitbucket.org/rick-project/workspace/overview/" target="_blank">
              <span class="icon"><fa-icon [icon]="faBitbucket"></fa-icon></span>
              <span>Bitbucket</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  