.columns.main {
    height: auto;
    background-image: url('/assets/Images/diamond1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    padding-bottom: 20px;
  }

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease; /* Smooth transition */
  }
  
.accordion-content.is-active {
    max-height: max-content;
  }

.icon.angle{
    position: absolute;
    right: 1rem;
 }

 .button{
    box-shadow: 0px 0px 1.5px 1.5px rgb(0, 0, 0);
 }

 li {
  font-size: 17px;
  margin-left: 10px;
  list-style-type: disc;
}

image.csharp{
  position: absolute;
}