<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title" style="color: black;">Home</h1>
    </div>
  </div>
</section>


<div class="columns main is-centered">
  <div class="column is-two-thirds">
    <br>
    <br>
    <div class="columns">
      <div class="column">
        <br>
        <br>
        <figure class="image is-256x256">
          <img class="is-rounded"
            src="\assets\Images\Headshot.jpg"
            alt="Profile photo"
          />
        </figure>  
      </div>

      <div class="column">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p class="title">About Me</p>
              <hr>
              <p class="subtitle is-spaced"><b>Wei-Yu Chang</b>, or <b>Rick</b> as some colleagues know me. Hailing from <b>Taiwan</b>'s thriving tech hub, I'm passionate about crafting user-centric applications that streamline complex workflows and elevate user experiences.</p>
              
              <p class="subtitle is-spaced">My diverse background in data analysis, television programming, and education has instilled in me a strategic problem-solving approach. This, coupled with my Master's degree in Computer Science from the University of Bath, equips me with expertise in VR environments and a keen focus on UX research.</p>
              
              <p class="subtitle">I'm eager to leverage this skillset, combined with a strong DevOps mindset, to deliver impactful results and drive innovation within your organisation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
